body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #111;
  color: #f5f5f5;
  line-height: 1.6;
}

#container {
  text-align: center;
  padding: 2rem;
}

header h1 {
  backgorund: linear-gradient(135deg, #ffada6, #ff1a750;
  padding: 2rem 1rem;
  border-bottom: 3px solid #fff;
}

header .tagline {
  font-size: 3rem;
  margin: 0.5rem 0;
}

#logo {
  width: 120px;
  height: 120px;
  /*border-radius: 50%;*/
  margin-bottom: 1rem;
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.7);
}

main {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 20, 147, 0.3);
}

h2 {
  color: #ff4da6;
  margin-bottom: 1rem;
}

.buy-button {
  display: inline-block;
  background: #ff1a75;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.buy-button:hover {
  background: #ff3385;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background: #000;
  border-top: 2px solid #ff1a75;
  font-size: 0.9rem;
  color: #ccc;
}
